.container {
  margin-right: 15px;
}
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.titles {
  color: #1a6e9a;
  font-weight: 600;
  font-size: 32px;
  margin: 0;
  text-align: right;
}
.data {
  font-size: 16px;
  color: #a9afb0;
  width: 64px;
  height: 30px;
  text-align: right;
}
.more-info {
  display: flex;
  flex-direction: column;
  width: 50%;

  justify-content: space-between;
}
.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.city {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-align: right;
  color: #a9afb0;
  margin: 0;
}
.sub-city {
  color: #1a6e9a;
  margin-right: 5px;
}

.type {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-align: right;
  color: #a9afb0;
  margin: 0;
}
.sub-type {
  color: #1a6e9a;
  margin-right: px;
}
.status {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-align: right;
  color: #a9afb0;
  margin: 0;
}
.sub-status {
  background-color: #1a6e9a;
  color: #eef4fc;
  margin-right: 5px;
  padding: 5px;
  font-size: 16px;
  border-radius: 12px;
}
.price {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  text-align: right;
  color: #a9afb0;
  margin: 0;
}
.sub-price {
  color: #1a6e9a;
  margin-right: 5px;
}
.title-decription {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: right;
  color: #333333;
}
.decription {
  font-size: 18px;
  line-height: 150%;
  width: 100%;
  text-align: right;
  color: #333333;
}
.btn {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 120px;
}

.btn button {
  display: flex;
  align-items: center;
  width: 170px;
  height: 48px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.btn-chat {
  background-color: #1a6e9a;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-call {
  background-color: #ffffff;
  color: #1a6e9a;
  border: 1px solid #1a6e9a;
}
.btn-like {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}
