.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.meal-swiper {
  height: 350px;
  width: 100%;
}

.mySwiper {
  height: auto;
  box-sizing: border-box;
  padding: 5px 0;
}

.mySwiper .swiper-slide {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.container-img {
  height: 120px;
}

.container-img-show {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: fill;
}
.container-img-show img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
